.repositories-item {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0 0 20px 0;
  width: 100%;
  border-bottom: 1px solid #444444;

  a, a:active, a:hover {
    text-decoration: none
  }

  a {
    display: inline-block;
    cursor: pointer
  }

  &__title {
    text-decoration: none;
    color: #61dafb;
  }

  &__description {
    padding: 0;
    margin: 0;
    font-weight: 400;
    margin-bottom: 8px;
    word-break: break-all;
  }

  &__color {
    background-color: #f1e05a
  }

  &__star {
    display: flex;
    align-items: center;

    svg {
      margin-right: 3px;
    }
  }

  &__icon {
    margin: 5px 8px 0 0;
    svg{
      color: #6a737d
    }
  }
  .css-1wa3eu0-placeholder{
    top:45%;
  }
  &__info {
    display: flex;
    list-style: none;
    padding: 0 0 20px 0;
    font-size: 14px;

    li {
      margin-right: 10px;


    }
  }
}