.warning{
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__title{
    text-align: center;
    font-size: 28px;
  }
  &__img{
    margin: 0 auto;
    margin-bottom: 20px;
  }
}